/* 展示水果 */
#fruits{
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    justify-content: space-around;
    align-content: space-between;

    margin-top: 20px;
}
.fruit-choice{
    /* 每一种水果对应的框 */
    width: 25%;
    border: 1px solid transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    margin: 5px; /*不然换行的时候上下两行会贴在一起*/
}
.fruit-choice img{
    width: 100%;
}
.fruit-choice span{
    /* 价格 */
    color: rgba(178, 201, 67, 1);
}
.subtitle, .fruit-name, .price{
    color: rgb(68,68,68);
    text-align: center;
}
.but-buy{
    width: 50%;
    height: 35px;
    margin: auto;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
    background: rgba(178, 201, 67, 1);
    color: white;

    text-align: center;
    line-height: 35px;
}
@media screen and (max-width:600px) {
    /* 手机用户 */
    .fruit-choice{
        width: 45%;
        /* 暂定手机版一行两个水果 */
        border: 1px solid transparent;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
    }
    .subtitle{
        font-size: 20px;
    }
    .but-buy{
        width: 70%;
        height: 30px;
        line-height: 30px;
    }
}