/* Global Styles */
body {
	font: 1em Verdana, Arial, Helvetica, sans-serif; 
	letter-spacing: normal;
	line-height: 100%; 
	text-align: center;  
	text-decoration: none; 
	color: #003366; 
	background-color: #DDEEFF;
	margin: 0;
	padding: 0;}
	
h1 {
	font-size:1.5em; 
	letter-spacing: .2em;
	line-height: 2.0;
	text-align: left;  
	color: #CF9; 
	background-color: inherit; 	 
	}	
		
h2 {
	font-size:.9em; 
	letter-spacing: .4em;
	line-height: 18px; 
	text-align: left; 
	color: rgb(100%, 60%, 20%); 
	background-color: inherit; 		
	}
	
h3 {
	font-size: 1.2em; 
	letter-spacing: .2em;	
	line-height: 24px; 
	text-align: left; 
	color: rgb(51, 102, 204); 
	background-color: inherit; 	 	
	}

h4 {
	font: small-caps bold .8em Verdana, Arial, Helvetica, sans-serif; 
	letter-spacing: .2em;	
	line-height: 16px; 
	text-align: left;  
	color: #FF6600; 
	background-color: inherit; 	 		
	}
		
#mainContainer p {
	font-size: .75em; 
	line-height: 1.5; 
	text-align: left;  
	}

#footer p {
	font-size: .6em; 
	line-height: 1.5; 
	text-align: right;  
	}

a {
	text-decoration: none; 	
	color: #FF6600;
	background-color: inherit; 			
	}
		
a:hover {
	color: #3366CC; 
	background-color: inherit; 			
	}
		
img {
	border: none; }		
		
/* ID Styles */	
#mainContainer {
	color: inherit;  
	background-color: white; 
	margin: 10px auto;
	border: 2px solid #E0E0E0; 
	width: 95%;}

#header {
	color: inherit;  
	background-color: #3366CC;    
	margin: 0px; 
	padding: 15px 10px 5px;}
	
#information {
	padding: 15px 15px; 
	width: 25%; 
	height: 150px;
	overflow: auto;
	float: right; }
	
#pageContent {
	margin: 0px 200px 0px 5px;}

/* Class Styles */	
.subHeader {
	font: italic bold .8em Verdana, Arial, Helvetica, sans-serif; 
	letter-spacing: .2em;	
	line-height: 16px; 
	color: #3366CC; 
	background-color: inherit;  	
	}